// Fonts
$main-font: 'Roboto', sans-serif;
$secondary-font: 'Spartan', sans-serif;

// Colors
$light-gray: #F8F8F9;
$dark-gray: #747F8D;
$dark-red: #A43131;
$light-red: #D5001C;
$gt-tuning-green: #019E92;
$dark-green: #464C47;
$yellow: #C29049;