

.card {
    border: none;
    .card-header {
    border: none;
    }

    
}

#about {
    h1 {
        color: #0f263a;
    }
    #accordion {
        .card {
            .card-header {
                a {
                    color: #0f263a;
                }
                .card-body {
                    color: #747f8d;
                }
            }
        }
    }
}

