.jumbotron{
  background-color: #fff;
  @include respond('desktop'){
    padding: 1rem 0;
    margin-bottom: 5rem;
  }
  &__content{
    @include respond('desktop'){
      padding-right: 2rem;
    }
    .title {
      position: relative;
      &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 90%;
        background: $light-red;
        animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
        animation-delay: 1.4s;
      }
      span{
        opacity: 0;
        animation: appear-text 0.0001s linear forwards;
        animation-delay: 2s;
        font-family: $main-font;
        font-size: 3rem;
        @include respond('desktop'){
          font-size: 4.2rem;
        }
      }
    }
    p{
      padding: 2.7rem 0;
      font-size: .9rem;
    }
  }
}